@charset "UTF-8";

body {
  font-size: 12px;
  line-height: 1;
  letter-spacing: 1px;
  word-break: break-all;
  color: #888;
}
a {
  text-decoration: none;
  color: #888;
}

li {
  list-style: none;
}

header {
  width: 100%;
  display: inline-block;
}

header .logo {
  position: absolute;
  padding: 10px 0 0 20px;
}

header .logo img {
  width: 175px;
  height: auto;
  z-index: 2;
}

header .navbar ul {
  display: flex;
  float: right;
  position: relative;
  margin: 15px 0;
}

header .navbar ul li {
  margin: 30px 20px 0;
}

header .navbar ul li a {
  color: #555;
  font-weight: bold;
  font-size: 15px;
}

header .navbar ul li a:hover {
  color: red;
}

header .navbar ul li.contact a {
  background-color: red;
  border-radius: 30px;
  color: #fff;
  padding: 15px 25px;
}

header .navbar ul li.contact a:hover {
  opacity: 0.5;
}

header .drawer {
  visibility: hidden;
}

.top {
  text-align: center;
  margin: 150px 0 50px 0;
}

.top .inner {
  display: inline-block;
  position: relative;
  z-index: 2;
  margin-right: 150px;
  bottom: 250px;
}

.font1 {
  text-align: center;
  margin-bottom: 25px;
}

.font1 p {
  color: red;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 25px;
}

.font1 small {
  color: #666;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 25px;
}

.top .download {
  display: inline-flex;
  margin: 5% 10%;
}

.top .download .apple {
  margin-right: 2%;
}

.top .download .google {
  margin-left: 2%;
}

.top .download .apple img {
  width: 100%;
  height: auto;
}

.top .download .google img {
  width: 100%;
  height: auto;
}

.top .top_img {
  display: inline-block;
  position: relative;
}

.top .top_img img {
  width: 350px;
  height: auto;
}

.feature {
  width: 80%;
  margin: 0 auto;
}

.feature .inner p {
  font-size: 16px;
  line-height: 1.7;
}

.font2 {
  color: red;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 10px;
}

.font2::after {
  content: "";
  background: red;
  height: 2px;
  width: 100px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}

.section {
  position: relative;
  padding: 150px 0;
}

.section::after {
  content:"";
  display:block;
  width: 100%;
  height:600px;
  background: linear-gradient(red, #f5f6f7);
  position: absolute;
  top:0;
  left:0;
  z-index:1;
}

.intro {
  background: #f5f6f7
}

.intro .inner {
position: relative;
z-index:2;
}

.font3 {
  font-size: 45px;
  color: #fff;
  text-align: center;
  padding-bottom: 50px;
  line-height: 1.5;
}

.font3 small {
  display: block;
  font-size: 11px;
}

.app {
  background: linear-gradient(#fff, #f5f6f7);
  border-radius: 30px;
  padding: 100px 20px;
  width: 85%;
  margin: 0 auto;
}

.app_wrap {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.app .app_item {
  margin: 75px 50px 0 0;
}

.font4 {
  font-size: 25px;
  line-height: 1.3;
  padding: 30px 0;
}

.font5 {
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 1.5;
}

.font5 strong {
  color: red;
}

.app .descript {
  font-size: 14px;
  line-height: 2;
}

.app .app_img {
  display: inline-block;
}

.app .app_img img {
  width: 300px;
  height: auto;
}

.how {
  background: #f5f6f7;
}

.how .inner {
  position: relative;
  text-align: center;
  z-index: 2;
}

.how_to {
  background: linear-gradient(#fff, #f5f6f7);
  width: 40%;
  display: inline-block;
  border-radius: 30px;
  padding-bottom: 100px;
  line-height: 2;
}

.how_list li {
  border: 2px solid #ddd;
  font-size: 16px;
  margin: 0 auto;
  padding: 2px;
  width: 60%;
  border-radius: 10px;
}

.faq {
  background: #f5f6f7;
}

.faq .inner {
  position: relative;
  z-index: 2;
}

.faq .txt {
  background: linear-gradient(#fff, #f5f6f7);
  width: 80%;
  margin: 0 auto;
  border-radius: 30px;
  padding: 60px;
}

.faq .txt ul li,
p {
  font-size: 16px;
  line-height: 2.5;
}

.faq .txt ul li::before {
  content: "";
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: #555;
  border-radius: 50%;
  margin-right: 6px;
}

.faq .txt ul p strong {
  color: red;
}

.faq .more {
  text-align: center;
  background: #888;
  width: 17%;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 10px;
}

.faq .more a {
  color: #fff;
  font-weight: bold;
}

.news {
  background: #f5f6f7;
  padding: 100px 0;
}

.news .inner {
  position: relative;
  z-index: 2;
}

.news .font3 {
  color: #555;
}

.news .txt {
  background: linear-gradient(#fff, #f5f6f7);
  border-radius: 30px;
  padding: 60px;
  width: 80%;
  margin: 0 auto;
}

.news .txt ul li {
  font-size: 16px;
  line-height: 2;
}

.news .txt ul li strong {
  color: red;
}

.contact_btn {
  background: #f5f6f7;
  padding-bottom: 100px;
}

.contact_btn .btn {
  text-align: center;
  background: #ff82b2;
  width: 17%;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 10px;
}

.contact_btn .btn a {
  color: #fff;
  font-weight: bold;
}

footer {
  background: #555;
  padding: 50px 50px 20px;
}

.footer_logo1 img {
  width: 200px;
}

.footer_logo2 img {
  width: 50px;
}

.pages {
  display: flex;
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
}

.pages .grid {
  width: 20%;
  margin: 0 auto;
}

.pages .last {
  border-left: 2px solid #fff;
  padding-left: 10px;
}

.pages .grid li {
  font-size: 12px;
  margin-bottom: 10px;
}

.pages .grid li a {
  color: #fff;
}

.mail {
  font-weight: bold;
  text-align: center;
  font-size: 10px;
  margin-top: 10px;
  color: #fff;
}

.copyright {
  text-align: center;
  font-size: 10px;
  margin-top: 10px;
  color: #fff;
}

.question {
  height:1200px;
  background: linear-gradient(red,#fff );
}

.question p {
  text-align: center;
  font-size:50px;
  line-height: 0.6;
  color:white;
  padding-top:100px;
  padding-bottom:50px;
}

textarea {
  width:700px;
  margin-left:350px;
  margin-right:350px;
  height:400px;
}

.question small {
  font-size :5px;
}

.button_submit {
text-align: center;
 margin-top:70px;

}

.button{
 background-color:grey; 
 color:white; 
 padding:20px 30px;
}


#a  {
  line-height:2.0;
  font-size:30px;
  color:black;
}

@media screen and (max-width: 768px){
header a.logo {
  top:0;
  padding:10px;
}

.top .inner {
  display: unset;
  margin-right: 0;
  bottom: 0;
}

.app {
  padding: 50px 50px 100px;
  width: 80%;
}

.app_wrap {
  display: unset;
}

.app .app_item {
  margin: 0;
}

.app .app_img {
  display: block;
  width: 60%;
  margin: 100px auto 0;
}

.app .app_img img {
  width: 100%;
  height: auto;
}

header .drawer {
  visibility: visible;
  width: 24px;
  right: 15px;
  margin: 18px;
  position: absolute;
  border-top: solid 4px #aaaaaa;
  cursor: pointer;
  z-index: 100;
}

header .drawer::before,
header .drawer::after {
  content: "";
  display: block;
  width: 24px;
  background: #aaaaaa;
  height: 4px;
  position: absolute;
  right: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header .drawer:before {
  top: 6px;
}

header .drawer:after {
  top: 15px;
}

header .navbar {
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  top: 0;
  left: 0;
  z-index: 3;
  background: #fff;
}

header .navbar ul {
  display: block;
  text-align: center;
  float: none;
  top: 20%;
}

header .navbar ul li a {
  font: 18px;
  line-height: 2;
}

body.nav-open header .drawer {
  border-top: 0;
}

body.nav-open header .drawer:before {
  top: 9px;
  transform: rotate(-45deg);
}

body.nav-open header .drawer:after {
  top: 9px; transform: rotate(45deg);
}
} 

@media screen and (max-width: 480px){
  body.nav-open header .drawer:after {
    top: 9px;
    transform: rotate(45deg);
  }
  
  header a.logo img {
    width: 110px;
  }
  
  header .drawer {
    margin: 0;
  }
  
  .font1 p {
    font-size: 32px;
  }
  
  .font small {
    font-size: 18px;
  }
  
  .top .top_img {
    width:80%;
    height: auto;
  }
  
  .top .top_img img {
    width: 100%;
    height:auto;
  }
  
  .feature  .inner {
    padding: 0;
  }
  
  .font2 {
    font-size: 20px;
  }
  
  .font:after {
    width: 50px;
  }
  
  .font3 {
    font-size: 30px;
  }
  
  .app {
    padding: 30px;
    width:78%;
  }
  
  .font5 {
    font-size: 20px;
  }
  
  .app .descript {
    margin-bottom: 80px;
  }
  
  .app .app_img {
    width: 90%;
    margin: 0 auto;
  }
  
  .how_to {
    width: 96%;
    margin: 0 auto;
  }
  
  .how_list li{
    width: 80%;
  }
  
  .faq .txt {
    padding: 50px 30px;
  }
  
  .faq .txt ul li,
  p {
    line-height: 2;
  }
  
  .faq .more {
    width: unset;
    margin: 0 70px;
  }
  
  .news .txt {
    padding: 50px 30px;
  }
  
  .contact_btn .btn {
    width: unset;
    margin: 0 70px;
  }
  
  .footer_logo1 img {
    width: 150px;
  }
  
  .footer_logo2 img {
    width: 40px;
    padding-left: 20px;
  }
  
  .pages {
    width: unset;
  }
  
  .pages li {
    font-size: 9px;
    margin-bottom: 5px;
  }
  
  .mail {
    margin-top: 15px;
  }
}

@media screen and (max-width: 540px){
  

  
  .font1 p {
    font-size:20px;
  }

  .font1 small {
    font-size:10px;
  }



  #faq .inner {
    width:400px;
    margin-left:25px;
   
  }

.more {
  font-size: 5px;
  width:50px;
}

  
  .app_all {
  padding-right:50px;
  padding-left:50px;
}

#news .inner {
  width:400px;
  margin-left:30px;
}


.faq .more{
  width:100px;
}





.btn {
  font-size:7px;
}
 textarea {
  width:100%;
  margin-left:-6px;
 }


#a {
  font-size:13px;
}

.question {
  padding-right:50px;
  padding-left:50px;


}
}